@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Poppins", sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }
  

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }

  .text-fill-unset {
    -webkit-text-fill-color: unset;
  }
}

.testimonials-slider .slick-list {
  padding: 4px 0px;
}

.Typewriter{
  display: inline;
}
.hamburger .line{
  width: 32px;
  height: 1.5px;
  background-color: #253B7C;
  display: block;
  margin: 6px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

/* custom-phone-input */
.custom-phone-input .react-tel-input .flag-dropdown{
  background-color: transparent;
  border: 0;
}
.custom-phone-input .react-tel-input .form-control{
  width: 100%;
  border: 0;
  box-shadow: 0px 2.7px 7.21px -0.9px #45A3DB33,0px 0px 0.9px 0px #253B7C80;
  padding-left: 60px;
  min-height: 64px;
}
.custom-phone-input .react-tel-input .selected-flag{
  margin-left: 20px;
}
.custom-phone-input .react-tel-input .selected-flag .arrow{
  display:none ;
}
@media (max-width:767px){
  .custom-phone-input .react-tel-input .form-control{
    min-height: 60px;
  }
}
@media (max-width:575px){
  .custom-phone-input .react-tel-input .form-control{
    min-height: 48px;
    padding-left: 50px;
  }
  .custom-phone-input .react-tel-input .selected-flag {
    margin-left: 12px;
}

}